body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('assets/img/bg.png');
}

.container {
    display: flex;
    min-height: 98vh;
    align-items: center;
    justify-content: center;
}