body {
    font-family: Roboto, sans-serif;
    margin: 0;
    color: rgba(0,0,0,.87);
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    background-size: 400% 400%;
    animation: backgroud-ani 60s linear infinite;
}

button {
    font-family: Roboto, sans-serif;
    background-color: white;
    text-align: center;
    border: none;
    color: #1d72c3;
    font-size: 1.1rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: .0892857143em;
    height: 40px;
    min-width: 64px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    line-height: 0;
    margin: 19px;
}

.header-container {
    position: relative;
}

.background-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    z-index: -1;
    left: 0;
    top: 0;
    overflow: hidden;
}

@media (max-width: 992px) {
    .background-container {
        max-height: 110vh;
    }
}

@keyframes backgroud-ani {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.center-container {
    display: flex;
    min-height: 97.5vh;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.right {
    align-items: end;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}

.fade-in {
    animation: fadeIn linear 4s infinite;
}

@keyframes fadeIn {
    0% {opacity:0;}
    25% {opacity: 0.25;}
    50% {opacity: 1;}
    75% {opacity: 0.25;}
    100% {opacity:0;}
}

.repeat-bg {
    filter: invert(1);
}

.left-header-text-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    margin-left: 20px;
}

@media (min-width: 1200px) {
    .left-header-text-container {
        margin-left: 22%;
    }
}

.left-header-text-container > h1 {
    margin: 15px 0;
    font-size: 3rem;
    color: white
}

.left-header-text-container > img {
    filter: invert(1);
}

label {
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 992px) {
    .header {
        min-height: 800px;
    }
}

.left-col {
    position: relative;
}

.profile-box {
    background: white;
    color: rgba(24, 17, 85, 0.81);
    backdrop-filter: blur(3px);
    min-height: 60%;
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 450px;
    padding: 20px;
    margin: 0px 50px;
    border-radius: 3%;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),
    0 3px 14px 2px rgba(0,0,0,.12),
    0 5px 5px -3px rgba(0,0,0,.3);
}

ul {
    list-style-type: none;
    padding: 0;
    font-weight: 600;
}

ul.profie-details li{
    display: flex;
    align-items:center;
    font-weight: 600;
}

ul li {
    padding: 5px 0px;
}

a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    padding: 0 2rem;
    font-size: 1rem;
    height: 54px;
    line-height: 58px;
    font-weight: 400;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),
    0 1px 7px 0 rgba(0,0,0,.12),
    0 3px 1px -1px rgba(0,0,0,.2);
}

hr {
    width: 100%;
    border: 1px;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.profile-box h1 {
    margin: 3px;
}

a {
    color: inherit;
    
}

img.profile-picture {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

a.linkedin-btn {
    background-color: #0274B3;
}

a.github-btn {
    background-color: #000;
    color: white;
}

a.projects-btn {
    background-color: rgba(24, 17, 85, 0.81);
    color: white;
}

a.presentation-btn {
    background-color: rgb(197, 128, 0);
    color: white;
}

a.product-btn {
    background-color: #FF0076;
    color: white;
}

i.fa {
    padding: 0px 10px;
}

.header-text-block {
    width: 500px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    padding: 0 0 190px 160px;
    font-weight: 400;
}

@media (max-width: 992px) {
    .header-text-block {
        position: unset;
        width: 100%;
        padding: 20px 0;
        margin: 0 5px;
        text-align: center;
    }
}

.header-text-block h1 {
    font-size: 3rem;
    margin: 0;
    line-height: 1.1;
}

.header-left-side {
    position: relative;
    height: 100%;
}

.content-block {
    text-align: center;
}

.projects-block h1{
    color: white;
    font-size: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    border-radius:1%;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),
    0 3px 14px 2px rgba(0,0,0,.12),
    0 5px 5px -3px rgba(0,0,0,.3);
    margin: 10px 50px;
}

.card .card-content {
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card .card-title {
    font-weight: 300;
    font-size: 35px !important;
    text-align: center;
    padding: 5px;
}

.card .card-content a.button {
    margin: 15px 40px;
}

.card.next {
    background-color: #433E75;
    color: white;
    justify-content: center;
    height: 97%;
}